<p><a href="{{ path('call_test_index') }}">Call reference</a></p>
<h1>{{ call.apiName }} &raquo; {{ call.callName }}</h1>
<h2>HTTP headers:</h2>
{% for header in call.headers %}
    {{ header }}<br/>
{% endfor %}

<h2>Input</h2>
{{ dump(call.postFields) }}

<h2>Output</h2>
{% autoescape %}
{{ dump(output) }}
{% endautoescape %}